<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="TODO_DIR" value="D:/Documents/GD/Todo/Test/" />
		<add key="SHOW_CONTEXT" value="True" />
		<add key="SHOW_PROJECT" value="True" />
		<add key="SHOW_PRIORITY" value="True" />
		<add key="COLOR_MODE" value="True" />
		<add key="AUTO_ARCHIVE" value="True" />
		<add key="PRESERVE_LINE_NUMBERS" value="False" />
		<add key="PREPEND_DATE" value="False" />
 	</appSettings>
</configuration>
